.clip-top-left {
  clip-path: polygon(0 0, 100% 0, 0 100%);
}
.clip-top-right {
  clip-path: polygon(100% 0, 100% 100%, 0 0);
}
.clip-bottom-left {
  clip-path: polygon(0 100%, 100% 100%, 0 0);
}
.clip-bottom-right {
  clip-path: polygon(100% 100%, 0 100%, 100% 0);
}
